{require_otp_vsn, "R16|17|18"}.

{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.

{deps,
 [
     {getopt, ".*", {git, "git://github.com/jcomellas/getopt.git", {tag, "v0.8.2"}}},
     {lager, ".*", {git, "git://github.com/basho/lager", {tag, "3.0.1"}}}
 ]}.

{escript_incl_apps,
 ['s5c', 'lager', 'goldrush', 'getopt']}.
{escript_top_level_app, 's5c'}.
{escript_name, 's5c'}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
